* {
  padding: 0px;
  margin: 0px;
}

body {
  brcolor: #eff0f5;
}

#wrap {
  width: 1344px;
  margin: auto;
}

#header {
  width: 100%;
  height: 90px;
  background-color: #132433;
}

#header input[type="text"] {
  width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
  outline: none;
  padding: 12px 14px;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  margin-top: 15px;
  background-color: #151D28;
  color: #eee;
}

#header form {
  float: right;
}

#header input[type="submit"] {
  width: 40px;
  height: 40px;
  margin-top: 20px;
  float: right;
  background-image: url("img/tk2.jpg");
  border: 1px solid black;
  border-radius: 4px;
  background-repeat: no-repeat;
}

#header .img1 {
  width: 130px;
  height: 90px;
  float: left;
}

#header .h2 {
  float: left;
  margin-left: 20px;
  color: #fff;
  font-size: 26px;
}

#header .dk {
  float: right;
  padding-top: 10px;
  color: #FFF;
  padding-right: 50px;
}

#header .dk h3 {
  color: #f00000;
}

#menu {
  width: 100%;
  height: 52px;
  background-color: #151D28;
  font-size: large;
  border: 1px solid #fff;
}

#menu h3 {
  color: #f00;
}

#menu .ul {
  float: left;
  margin-left: 65px;
}

#menu .ul ul {
  width: 100%;
  list-style-type: none;
  float: left;
}

#menu .ul ul li {
  display: inline-block;
  width: 115px;
  height: 40px;
  text-align: center;
  padding-top: 5px;
}

#menu .ul ul li .a1 {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

#menu .dk {
  float: right;
  padding-top: 10px;
  color: #eee;
  padding-right: 10px;
}

#menu .dk a {
  color: #eee;
  text-decoration: none;
}

#menu a:hover {
  color: #d00;
}

#noi-dung {
  width: 1170px;
  margin-left: 90px;
  margin-top: 250px;
  height: 1500px;
}

#noi-dung #contend {
  width: 830px;
  float: left;
  background-color: #fff;
}

#noi-dung #contend .contend-1 {
  width: 830px;
  height: 465px;
  float: left;
  border: 0px solid #010;
}

#noi-dung #contend .contend-1 .contend-11 {
  width: 600px;
  height: 465px;
  float: left;
  border: 0px solid #010;
}

#noi-dung #contend .contend-1 .div1212 {
  width: 220px;
  height: 400px;
  border: 1px solid #C00;
  float: left;
  margin-left: 5px;
}

a {
  text-decoration: none;
}

p {
  text-align: justify;
}

.img2 {
  width: 580px;
  height: 330px;
}

.img4 {
  width: 800px;
  height: 260px;
}

hr {
  color: #9F9;
}

.divtb {
  width: 200px;
  height: 40px;
  background-color: #F66;
  border-bottom-color: #000;
  text-align: center;
  margin-bottom: 5px;
}

.divtb p {
  color: #EEE;
  padding-top: 3px;
  padding-left: 15px;
}

.right {
  width: 330px;
  float: right;
  border: 0px solid #000;
  padding-top: 100px;
  padding-left: 18px;
  background-color: #EEE;
}

.right .qc1 {
  width: 300px;
  height: 80px;
}

.right .qc4 {
  width: 300px;
  height: 450px;
}

.right h3 {
  color: #FF6666;
}

.r1 {
  width: 290px;
  height: 80px;
  border: 0px solid;
}

.r1 img {
  width: 55px;
  height: 55px;
  float: left;
  padding-right: 5px;
}

b {
  text-align: justify;
}

#footer {
  width: 1344px;
  height: 300px;
  background-color: #192433;
  clear: both;
}

#footer .divft {
  width: 200px;
  height: 220px;
  border: 0px solid #EEE;
  float: left;
  margin-left: 115px;
  margin-top: 15px;
  line-height: 30px;
  padding-top: 20px;
}

#footer .divft a {
  color: #AAAAAA;
}

#footer .divft a:hover {
  color: #EEEEEE;
}

#footer .divft h4 {
  color: #EEEEEE;
}

#footer .divft1 {
  width: 1344px;
  height: 50px;
  border: 0px solid;
  float: left;
  background-color: #151D28;
  padding-left: 15px;
}

#footer .divft1 a {
  color: #33FFFF;
}

#footer .divft1 p {
  margin-top: -12px;
}

span {
  width: 830px;
  height: 210px;
  border: 1px solid;
  float: left;
  padding-bottom: 17px;
}

span img {
  float: left;
  padding-right: 20px;
}

span p {
  float: right;
  padding-top: 50px;
  font-style: italic;
}

span h2 {
  font-size: 23px;
}

span h4 {
  font-size: 15px;
}

#login {
  width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0px solid #010;
  background-color: white;
  margin-left: 90px;
  margin-top: 200px;
}

#login .tk {
  margin-left: 200px;
  float: left;
}

#login .tk2 {
  float: left;
  margin-left: 200px;
}

#login input {
  width: 300px;
  height: 30px;
}

#login input[type="submit"] {
  background-color: #F93;
  height: 50px;
}

#login .login1 {
  width: 450px;
  float: left;
  border: 0px solid #010;
  background-color: #FFF;
  float: left;
  margin-left: 150px;
  line-height: 2;
}

#login .login2 {
  width: 350px;
  height: 250px;
  float: left;
  border: 0px solid #010;
  background-color: #FFF;
  float: left;
  line-height: 2;
  text-shadow: #F00;
  text-align: center;
}

#login .login2 img {
  margin-top: 10px;
}

#gb {
  width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #010;
  background-color: #FFF;
  margin-left: 90px;
  margin-bottom: 50px;
  margin-top: 200px;
}

#gb h2 {
  margin-top: 10px;
  float: left;
  color: #1795D5;
}

#gb img {
  float: left;
  width: 70px;
  height: 50px;
}

#gb .gp1 {
  width: 550px;
  float: left;
  border: 0px solid #010;
  height: 200px;
  background-color: #FFF;
}

#gb .gp1 hr {
  color: #E00;
}

#gb .gp1 ul {
  margin-left: 50px;
  margin-top: 30px;
}

#gb .gp1 li {
  height: 35px;
}

#gb .gb2 {
  width: 570px;
  float: right;
  border: 0px solid #010;
  height: auto;
  background-color: #FFF;
}

#gb .gb2 ul {
  margin-left: 30px;
  margin-top: 0px;
}

#gb .gb3 {
  width: 600px;
  border: 0px solid #010;
  height: 400px;
  background-color: #FFF;
  float: left;
  margin-left: 300PX;
  margin-bottom: 200px;
}

#gb .gb3 h3 {
  color: #f00000;
  text-align: center;
}

#gb .gb3 input {
  width: 150px;
}

.gui {
  width: 100px;
}

.gopy {
  width: 550px;
  float: left;
  border: 0px solid #010;
  height: 150px;
  background-color: #FFF;
}
/*# sourceMappingURL=app_tin_tuc.css.map */