@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --back-color: #135861;
}

body {
  color: #eff0f5;
  font-family: 'Roboto', sans-serif;
}

#wrap {
  width: 1700px;
  margin: auto;
}

#header {
  right: 0;
  left: 0;
  top: 0;

  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    background-color: white;
    height: 100px;
    align-items: baseline;
    #logo {
      width: 120px;
      height: 60px;
      margin-right: 50px;
    }

    #search {
      width: 250px;
      height: 35px;
      border-radius: 50px;
      outline: none;
      border-style: double;
      color: #9e9e9e;
      font-size: 18px;
    }

    p {
      margin-left: 30px;
      text-transform: uppercase;
      font-size: 16px;
      -webkit-transition: 1s;
      transition: 1s;
    }

    p:hover a {
      color: #00e676;
    }
  }

  .header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--back-color);
    height: 70px;
    padding-left: 40px;

    li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0px 20px;
      margin-left: 30px;
      height: 70px;
      color: white;

      img {
        width: 28px;
        height: 28px;
        margin-right: 3px;
      }
    }

    li:hover {
      background-color: #00e676;
    }
  }
}

a {
  color: black;
  text-decoration: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  height: auto;
  border: 5px solid var(--back-color);
  color: black;
  width: 1700px;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;

  #footer_company {
    width: 300px;
    margin: 30px;

    .logo-footer {
      height: 70px;
      width: 150px;
    }

    #footer_company-title {
      padding-bottom: 20px;
      border-bottom: 1px solid #929292;

      .footer_title {
        margin: 10px 0px;
      }
    }

    #footer_company-info {
      margin: 20px 0px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;

      i {
        margin-bottom: 10px;
      }

      .footer_title {
        margin: 10px 0px;
      }
    }
  }

  #footer_about {
    width: 300px;
    margin: 87px 0px 0px 40px;

    .footer_title {
      margin: 10px 0px;
    }

    ul li {
      list-style: none;
      margin: 10px 0px;
    }
  }

  #footer_suport {
    width: 300px;
    margin-top: 87px;

    .footer_title {
      margin: 10px 0px;
    }

    ul li {
      list-style: none;
      margin: 10px 0px;
    }
  }

  #footer-care {
    width: 300px;
    margin-top: 87px;

    #relate {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #888888;
      margin-bottom: 20px;
      justify-content: flex-start;

      .headset-img {
        width: 100px;
        height: 100px;
      }
    }

    #connect {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 25px;
      margin: 20px 0px;

      i {
        margin: 0px 20px;
      }
    }
  }
}

span {
  width: 830px;
  height: 210px;
  border: 1px solid;
  float: left;
  padding-bottom: 17px;

  img {
    float: left;
    padding-right: 20px;
  }

  p {
    float: right;
    padding-top: 50px;
    font-style: italic;
  }

  h2 {
    font-size: 23px;
  }

  h4 {
    font-size: 15px;
  }
}

#login {
  width: 1170px;
  float: left;
  border: 0px solid #010;
  background-color: white;
  margin-left: 90px;
  color: black;

  .tk {
    margin-left: 200px;
    float: left;
  }

  .tk2 {
    float: left;
    margin-left: 200px;
  }

  input {
    width: 300px;
    height: 30px;
  }

  input[type="submit"] {
    background-color: #F93;
    height: 50px;
  }

  .login1 {
    width: 450px;
    float: left;
    border: 0px solid #010;
    background-color: #FFF;
    margin-left: 150px;
    line-height: 2;
  }

  .login2 {
    width: 305px;
    height: 250px;
    float: left;
    border: 0px solid #010;
    background-color: #FFF;
    line-height: 2;
    text-shadow: #F00;
    text-align: center;

    img {
      margin-top: 10px;
    }
  }

}

#gb {
  width: 1400px;
  float: left;
  border: 1px solid #010;
  background-color: #FFF;
  margin-left: 150px;
  color: black;
  height: auto;

  h2 {
    margin-top: 10px;
    float: left;
    color: #1795D5;
  }

  img {
    float: left;
    width: 70px;
    height: 50px;
  }

  .gp1 {
    width: 550px;
    float: left;
    border: 0px solid #010;
    height: auto;
    background-color: #FFF;

    hr {
      color: #E00;

    }

    ul {
      margin-left: 50px;
      margin-top: 30px;
    }

    li {
      height: 35px;

    }

  }

  .gb2 {
    width: 570px;
    float: right;
    border: 0px solid #010;
    height: auto;
    background-color: #FFF;

    ul {
      margin-left: 30px;
      margin-top: 0px;
    }
  }

  .gb3 {
    width: 600px;
    border: 0px solid #010;
    height: auto;
    background-color: #FFF;
    float: left;
    margin-left: 300PX;


    h3 {
      color: #f00000;
      text-align: center;
    }

    input {
      width: 150px;
    }
  }
}

#title {
  width: 100%;
  align-self: flex-end;
  background-color: #fff;

  ul {
    list-style: none;
    height: auto;
    margin: 0;
    padding: 0;

    li {
      width: 850px;
      height: 250px;
      padding: 0px 20px;
      border-bottom: 1px solid #ccc;
      border: 1px solid #ccc;
      float: left;
      clear: right;
      margin: 0px;

      a {
        text-decoration: none;
      }

      p:hover {
        color: #00e676;
      }

      h3:hover {
        color: #00e676;
      }

      h3 {
        font-size: 20px;
      }

      p {
        height: auto;
        text-align: left;
        display: flex;
        line-height: 20px;
        font-size: 15px;
        color: black;

        img {
          margin-right: 15px;
          width: auto;
          height: 150px;
        }
      }
    }
  }
}
