*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --back-color:#135861;
}
body{
    font-family: 'Roboto', sans-serif;
}
a{
    color: black;
    text-decoration: none;
}
.contain{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;

    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: white;
        height: 100px;
        #logo{
            width: 120px;
            height: 60px;
            margin-right: 50px;
        }
        #search{
            width: 250px;
            height: 35px;
            border-radius: 50px;
            outline: none;
            border-style: double;
            color: rgb(158, 158, 158);
            font-size: 18px;
        }
        p{
            margin-left: 30px;
            text-transform: uppercase;
            font-size: 16px;
            transition: 1s;
        }
        p:hover a{
            color: #2E818C;
        }
        .head_login{
            margin-left: 100px;
            text-transform: uppercase;
        }
    }
    .header-list{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: var(--back-color);
        height: 70px;
        padding-left: 40px;
        li{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0px 20px;
            margin-left: 30px;
            height: 70px;
            color: white;
            img{
                width: 28px;
                height: 28px;
                margin-right: 3px;
            }
        }
        li:hover{
            background-color: rgb(15, 131, 64);
        }
    }
}
footer{
    display: flex;
    flex-direction: row;
    margin-top: 700vh;
    height: 130vh;
    border: 15px solid var(--back-color);

    #footer_company{
        width: 300px;
        margin: 30px;
        .logo-footer{
            height: 70px;
            width: 150px;
        }
        
        #footer_company-title{
            padding-bottom: 20px;
            border-bottom: 1px solid rgb(146, 146, 146);
            .footer_title{
                margin: 10px 0px;
            }
        }
        #footer_company-info{
            margin: 20px 0px;
            display: flex;
            flex-direction: column;
            i{
                margin-bottom: 10px;
            }
            .footer_title{
                margin: 10px 0px;
            }
        }
    }
    #footer_about{
        width: 300px;
        margin: 87px 0px 0px 40px;
        .footer_title{
            margin: 10px 0px;
        }
        ul li{
            list-style: none;
            margin: 10px 0px;
        }
    }
    #footer_suport{
        width: 300px;
        margin-top: 87px;
        .footer_title{
            margin: 10px 0px;
        }
        ul li{
            list-style: none;
            margin: 10px 0px;
        }
    }
    #footer-care{
        width: 300px;
        margin-top: 87px;
        #relate{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: #888888;
            margin-bottom: 20px;
            .headset-img{
                width: 100px;
                height: 100px;
            }
        }
        
        #connect{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            font-size: 25px;
            margin: 20px 0px;
            i{
                margin:0px 20px;
            }
        }
    }
}