* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  :root {
    --back-color: #135861;
  }
  
  body {
    color: #eff0f5;
    font-family: "Roboto", sans-serif;
  }
  
  #wrap {
    width: 100vw;
    margin: auto;

  }
  
  #header {
    right: 0;
    left: 0;
    top: 0;
  }
  #header header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: center;
    background-color: #78b43d;
    height: 10vh;
    align-items: center;
    right: 0;
    left: 0;
    top: 0;
  }
  #header header #logo {
    margin-right: 3vw;
  }
  #header header #search {
    width: 15vw;
    height: 2vw;
    border-radius: 5px;
    outline: none;
    border-style: solid;
    border-color: white;
    font-size: 13px;
  }
  #header .header_list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 12.8vh;
    font-size: 16px;
  }
  #header .header_list li{
    list-style: none;
    align-self:center;
    margin-top: 20px;
  }
  .header_list li a img{
    height: 19px;
    width: 19px;
    object-fit: contain;
  }
  .header_atag{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: 2vw;
  }
  .header_atag p{    
    margin-bottom: 0px;
    text-transform: uppercase;
    font-size: 12px;
    transition: 1s;
  }
  .header_nav{
    display: none;
  }
  .header_nav li{
    border-bottom: 1px solid #006333;
    list-style: none;
    padding: 0px 10px 0px 10px;
  }
  .header_atag:hover .header_nav{
    display: block;
    position:absolute;
    background-color: #78b43d;
    color:white;
    margin-top: 0vh;
    padding: 0px;
    padding-right:2vw ;
  }
  a{
    color: black;
    text-decoration: none;
  }
  .container{
    color: black;
    width: 70vw;
  }
  .container .container_first {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: inherit;
    margin-top: 5vh;
  }
  .new_img{
    width: 40vw;
    height: 50vh;
  }
  #title{
    color: black;
  }
  .container .container_first .contain_first{
    width: 60%;
  }
  .contain_first h3{
    color: #90c95a;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
  }
  .contain_first ul{
    display: grid;
    grid-template-columns: 20vw 20vw;
    grid-gap: 20px;
  }
  .contain_first ul li{
    list-style: none;
  }
  .contain_first ul li h3{
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-align: justify;
    transition: 0.2s;
  }
  .contain_first ul li h3:hover{
    color: #78b43d;
  }
  .contain_first ul li p{
    font-size: 13px;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    text-align: justify;
  }
  .contain_first ul li img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
  }
  .container .container_first .contain_second{
    width: 40%;
    margin-left: 10vw;
    padding: 0vh 2vh;
  }
  .contain_second ul li{
    list-style: none;
  }
  .contain_second ul li p{
    display: inline-block;
    font-size: 14px;
    margin-top: 5vh;
    width: 20vw;
    display: flex;
    flex-direction: row;
    text-align: justify;
  }
  .contain_second ul li p:hover{
    color: #78b43d;
  }
  .contain_second h3{
    color: #90c95a;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
  }
  .contain_second ul li img {
    width: 100px;
    height: 75px;
    object-fit: cover;
    margin-right: 20px;
  }
  .line{
    width: 23vw;
    height: 3px;
    background-color: #90c95a;
  }
  .tintuc{
    color: #78b43d;
    margin-left: 13vw;
  }
  .tintuc h3{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
  }
  #title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #title h3{
    align-self: center;
  }
  #item{
    display: grid;
    grid-template-columns: 23vw 23vw 23vw;
    grid-gap: 3vw;
  }
  #item li{
    list-style: none;
  }
  #item li h3{
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-align: justify;
  }
  #item li h3:hover{
    color: #78b43d;
  }
  #item li a p{
    display: flex;
    flex-direction: row;
    text-align: justify;
    font-size: 13px;
  }
  #item li a p img{
    width: 15vw;
    height: 15vh;
    margin-right: 10px;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    height: auto;
    border: 5px solid var(--back-color);
    color: black;
    width: 100vw;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
  }
  footer #footer_company {
    width: 20vw;
    margin: 2vw;
  }
  footer #footer_company .logo-footer {
    height: 5vw;
    width: 10vw;
  }
  footer #footer_company #footer_company-title {
    padding-bottom: 1vw;
    border-bottom: 1px solid #929292;
  }
  footer #footer_company #footer_company-title .footer_title {
    margin: 1vw 0px;
  }
  footer #footer_company #footer_company-info {
    margin: 1vw 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  footer #footer_company #footer_company-info i {
    margin-bottom: 1vw;
  }
  footer #footer_company #footer_company-info .footer_title {
    margin: 1vw 0px;
  }
  footer #footer_about {
    width: 20vw;
    margin: 6vw 0px 0px 40px;
  }
  footer #footer_about .footer_title {
    margin: 10px 0px;
  }
  footer #footer_about ul li {
    list-style: none;
    margin: 10px 0px;
  }
  footer #footer_suport {
    width: 20vw;
    margin-top: 6vw;
  }
  footer #footer_suport .footer_title {
    margin: 10px 0px;
  }
  footer #footer_suport ul li {
    list-style: none;
    margin: 10px 0px;
  }
  footer #footer-care {
    width: 20vw;
    margin-top: 6vw;
  }
  footer #footer-care #relate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #888888;
    margin-bottom: 20px;
    justify-content: flex-start;
  }
  footer #footer-care #relate .headset-img {
    width: 7vw;
    height: 7vw;
  }
  footer #footer-care #connect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 25px;
    margin: 20px 0px;
  }
  footer #footer-care #connect i {
    margin: 0px 20px;
  }