.contain_first ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
}
.contain_first ul li p{
    font-size: 14px;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.contain_first ul li p img{
    height: 25vh;
    width: 20vw;
    object-fit: cover;
}
#item li p img{
    height: 30vh;
    width: 23vw;
    object-fit: cover;
    padding: 10px 0px;
}
#item li p{
    font-size: 13px;
}
.contain_second ul li p img{
    margin-top: 4vh;
}