
<body onload="LoadRssCuocSong()">
    <div class="container_wrap" >
        <div class="container">
            <div class="container_first con_f">
                <div class="contain_first cf" id="contain_first">
                    <h3>Tin Tức Nổi Bật</h3>
                    <p class="line"></p>
                    <ul id="top">  
                    </ul>
                </div>
                <div class="contain_second contain_s">
                    <h3>Tin Tức Trong Ngày</h3>
                    <p class="line"></p>
                    <ul id="popular">  
                    </ul>
                </div>
            </div>
        
        </div>
        <div class="tintuc">
            <h3>Tin Tức Hôm Nay</h3>
            <p class="line"></p>
        </div>
        <div class="title titles">
            <ul id="item" class="items">
            </ul>
        </div>
    </div>
</body>
    
