<body>
<div id="wrap">
<div id="header">
  <header>
      <a href=""><img src="../assets/img/24h_logo_trang_chu_2015.png" alt="logo" id="logo"></a>
      <input type="text" name="search" id="search" placeholder="Nhập tin tức cần tìm">
      <ul class="header_list">
          <li>
              <div class="header_atag danhmuc">
                  <img src="../assets/img/logo_icon-25x25px--1647851648-464-width25height25.png" alt="">
                  <p>Danh mục</p>

                  <ul class="header_nav">
                      <li><a href="/finance">Kinh Doanh</a></li>
                      <li><a href="/entertainment">Giải Trí</a></li>
                      <li><a href="/security">An Ninh</a></li>
                      <li><a href="/sport">Thể Thao</a></li>
                      <li><a href="/fashion">Thời Trang</a></li>
                      <li><a href="/fashion-hitech">Thời trang Hi-tech</a></li>
                      <li><a href="/food">Ẩm thực</a></li>
                      <li><a href="/beautify">Làm đẹp</a></li>
                      <li><a href="/education">Giáo dục - du học</a></li>
                      <li><a href="/life_style">Bạn trẻ - Cuộc sống</a></li>
                      <li><a href="/music">Ca nhạc - MTV</a></li>
                      <li><a href="/weird">Phi thường - kỳ quặc</a></li>
                      <li><a href="/it">Công nghệ thông tin</a></li>
                      <li><a href="/oto">Ô tô</a></li>
                      <li><a href="/market">Thị trường - Tiêu dùng</a></li>
                      <li><a href="/travel">Du lịch</a></li>
                      <li><a href="/security">An Ninh</a></li>
                      <li><a href="/health">Sức khỏe đời sống</a></li>
                      <li><a href="/funny">Cười 24h</a></li>
                      <li><a href="/asian_cup">ASIAN CUP 2019 </a></li>
                      <li><a href="/football">Bóng đá</a></li>
                  </ul>
             
               </div>
              
          </li>
          <li>
              <a href="/news" class="header_atag">
                  <img src="../assets/img/tintuc-1541403404-944-width20height18.png" alt="">
                  <p>Tin Hot</p>
              </a>
              <!--<ul class="header_nav" style="
              margin-top: 28vh;">
                  <li><a href="#">Tin Hot Trong Ngày</a></li>
                  <li><a href="#">Cộng Đồng Mạng Xem Gì</a></li>
                  <li><a href="#">Tin Nhiều Lượt Đọc</a></li>
              </ul>-->
          </li>
          <li>
              <a href="/finance" class="header_atag">
                  <img src="../assets/img/icons8-increase-96-copy-1541383138-358-width19height19 (1).png" alt="">
                  <p>Kinh Doanh</p>
              </a>
              <!--
              <ul class="header_nav" style="
                  margin-top: 56vh;">
                      <li><a href="#">Doanh Nhân</a></li>
                      <li><a href="#">Tài Chính</a></li>
                      <li><a href="#">Khởi nghiệp</a></li>
                      <li><a href="#">Doanh Nghiệp</a></li>
                      <li><a href="#">Bất Động Sản</a></li>
                      <li><a href="#">Ngân Hàng</a></li>
                      <li><a href="#">Chứng Khoán</a></li>
              </ul>
              -->
          </li>
          <li>
              <a href="/entertainment" class="header_atag">
                  <img src="../assets/img/giaitri-1541403843-696-width20height20-1644810348-714-width20height20.png" alt="">
                  <p>Giải Trí</p>
              </a>
              
          </li>
          <li>
              <a href="/security" class="header_atag">
                  <img src="../assets/img/phapluat-1541394100-901-width20height18.png" alt="">
                  <p>An Ninh</p>
              </a>
          </li>
          <li>
              <a href="/sport" class="header_atag">
                  <img src="../assets/img/thethao-1579244755-985-width20height22.png" alt="">
                  <p>Thể Thao</p>
              </a>
          </li>
          <li>
              <a href="/fashion" class="header_atag">
                  <img src="../assets/img/thoitrang-1541403615-644-width12height20.png" alt="">
                  <p>Thời Trang</p>
              </a>
          </li>
         
      </ul>
      
  </header>
</div>
<router-outlet></router-outlet>
<footer>
  <div id="footer_company">
      <img src="../assets/img/icon.png" class="logo-footer" alt="logo">
      <div id="footer_company-title">
          <h4 class="footer_title">Công Ty Truyền Thông 24h</h4>
          <p>livingOnlivingOn là doanh nghiệp hàng đầu cung cấp dịch vụ truyền thông và giải trí trong nước và
              quốc tế</p>
      </div>
      <div id="footer_company-info">
          <p class="footer_title">THÔNG TIN LIÊN HỆ</p>
          <i class="fa fa-location-arrow"> Giấy chứng nhận Đăng ký Kinh doanh số: 0104093672 do Phòng ĐKKD Thành
              phố Hà Nội Cấp ngày:
              12/07/2019</i>
          <i class="fa fa-location-arrow"> VP giao dịch:
              Toà nhà N2, Km số 2, Đại lộ Thăng Long, Phường Mễ Trì, Quận Nam Từ Liêm, Hà Nội.</i>
          <i class="fa fa-envelope"><a href="#">cskh24h@gmail.com</a></i>
          <i class="fa fa-phone"><a href="#">344660857</a></i>
      </div>
  </div>
  <div id="footer_about">
      <h4 class="footer_title">GIỚI THIỆU</h4>
      <ul>
          <li>Giới thiệu 24h</li>
          <li>Trang Chủ</li>
          <li>Về Chúng Tôi</li>
          <li>Tuyển dụng</li>
      </ul>
  </div>
  <div id="footer_suport">
      <h4 class="footer_title">HỖ TRỢ KHÁCH HÀNG</h4>
      <ul>
          <li>Điều khoản sử dụng</li>
          <li>Chính sách bảo mật thông tin</li>
          <li>Chính sách quảng cáo</li>
          <li>Hướng dẫn sử dụng dịch vụ</li>
          <li>Câu hỏi thường gặp</li>
          <li>Góp ý sản phẩm dịch vụ</li>
          <li>Quy chế hoạt động</li>
          <li>Truy cập nhanh</li>
      </ul>
  </div>
  <div id="footer-care">
      <h4 class="footer_title">HỖ TRỢ</h4>
      <div id="relate">
          <div>
              <p>Liên hệ Hotline: 7:00 – 20:00</p>
              <p>19008095</p>
          </div>
      </div>
      <h4>Kết Nối</h4>
      <div id="connect">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-youtube"></i>
          <i class="fab fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-envelope" aria-hidden="true"></i>
      </div>

  </div>
</footer>
</div>
</body>
